body {
    background-color: #66cc99;
    margin: 20px;
}

.link {
    text-align: center;
    padding: 5px;
    margin-bottom: 30px;
}

a {
    text-decoration: none;
    background-color: rgb(230, 230, 230);
    color: red;
    font-size: 30px;
    font-family: Helvetica;
}

img {
    display: block;
    margin: auto;
    width: 30;
    height: 30%;
}

.description {
    font-family: Georgia;
    font-size: 14px;
    margin-top: 20px;
    text-align: justify;
}

h3 {
    background-color: rgb(163, 163, 117);
    color: #000d1a;
    box-sizing: border-box;
    display: inline-block;
    padding: 15px;

}

.ingredients {
    font-size: 16px;
    font-family: 'Gill Sans', sans-serif;
}

.directions {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}