body {
    background-color: rgb(178, 178, 102);
    margin: 20px;
}

.link {
    text-align: center;
    padding: 5px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    background-color: brown;
    color: green;
    font-size: 30px;
    font-family: Helvetica;
}

img {
    display: block;
    margin: auto;
    width: 50%;
    height: 50%;
}

.description {
    font-family: Georgia;
    font-size: 14px;
    margin-top: 20px;
}

h3 {
    background-color: cadetblue;
    color: crimson;
    box-sizing: border-box;
    display: inline-block;
    padding: 15px;

}

.ingredients {
    font-size: 18px;
    font-family: 'Gill Sans', sans-serif
}

.directions {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif
}