body {
    background-color: rgb(77, 255, 136);
    font-family: Helvetica, sans-serif;
}

h1 {
    text-align: center;
    border: 5px solid blue;
    box-sizing: border-box;
    height: 150px;
    width: 160px;
    padding: 20px 20px;
    margin: 75px auto;
    background-color: beige;
}

ul > li {
    list-style: none;
    display: inline-block;
    margin: 20px;
}

a:link {
    background-color: hsl(0, 100%, 60%);
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-family: "Times New Roman", serif;
}

a:visited {
    background-color: aqua;
    color: pink;
    text-decoration: none;
    font-family: Verdana, sans-serif;
    font-size: 15px;
}

a:hover {
    background-color: chartreuse;
    color: chocolate;
    text-decoration: none;
    font-family: "Courier New", monospace;
}